

body{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  color: #ffffff;
  background-color: #222222;
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


h1{
  color: #42e3ff;
  font: 6em 'Nothing You Could Do';

}
#title {
  position: absolute;
  top: 20vh;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
#footer {
  position: absolute;
  top: 94vh;
  text-align: center;
  font: 14px 'Poiret One';
  padding: 10px;
  background: #1b1b1b;
  color: #ffffff; 
  width: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/*----------------- button ---------*/
.button {

  top: 10px;
  left: 10px;
  z-index: 10000;
  background:transparent;
  width:50px;
  height:40px;
  overflow:hidden;
  cursor:pointer;
}

.button:hover{
  cursor:pointer;
}

.button > .line{
  display:block;
  width:80%;
  height:2px;
  background:#fff;
  margin:8px auto;
}

.button .line:nth-child(1), .button .line:nth-child(3){
  -webkit-transform:rotate(0deg) translateY(0);
  -moz-transform:rotate(0deg) translateY(0);
  ttransform:rotate(0deg) translateY(0);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.button .line:nth-child(2){
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  transform:translateX(0);
   -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}


/*-------------- the close button ---------*/

.close .line:nth-child(1) {
  -webkit-transform:rotate(45deg) translateY(15px);
  -moz-transform:rotate(45deg) translateY(15px);
  transform:rotate(45deg) translateY(15px);
  
}

.close .line:nth-child(3) {
  -webkit-transform:rotate(-45deg) translateY(-15px);
  -moz-transform:rotate(-45deg) translateY(-15px);
  transform:rotate(-45deg) translateY(-15px);
}

.close .line:nth-child(2){
  -webkit-transform:translateX(-100px);
  -moz-transform:translateX(-100px);
  transform:translateX(-100px);
}

/*---------------- menu -----------*/
.menu {
  font: 48px 'Poiret One';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  height:800px;
  z-index: 5;
  padding-left: 0;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: .1s;
}

.menu nav ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.menu nav ul li {
  margin: 0;
  padding: 0;
}

.menu nav ul li a{
  color:#fff;
  text-decoration:none;
  display: block;
  padding: 10px 20px;
  padding-left: 120px;
  -webkit-transform:translateX(0px);
  transform:translateX(0px);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition:         all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.menu nav ul li a:hover{
  background: #1b1b1b;
  -webkit-transform:translateX(20px);
  transform:translateX(20px);
}

.portfolio{
  background: #42e3ff;
}

/*-- class of show and hide the menu --*/
body.nav_is_visible {
  transform: translateX(300px);
}

body.nav_is_visible .menu {
  transform: translateX(-100%);
}


/*----------------- content ---------------*/




